<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Web Terminal</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>Web Terminal</h1>
        <div id="terminal">
            <div id="prompt"></div>
        </div>
        <div>
            <textarea class="input" id="commandInput" placeholder="Enter command" onpaste="limitPasteLength(event)" rows="1" oninput="limitCharactersPerLine(event)"></textarea>
            <!-- <input type="text" id="commandInput" placeholder="Enter command" onpaste="limitPasteLength(event)" rows="1" oninput="limitCharactersPerLine(event)"> -->
        </div>
    
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
        <script src="../static/script.js"></script>
    </body>
</html>
